doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina
            p Agrega tu email para restablecer la contraseña

            if locals.mensajes 
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
            
            form.caja-login(method="POST" action="/reestablecer")
                .campo
                    label(for="email") Email:
                    input(name="email" type="email" placeholder="tu@email.com")
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Contraseña")
                .campo.acciones 
                    a(href="/crear-cuenta") Ir a Crear Cuenta
                    a(href="/iniciar-sesion") Ir a Iniciar Sesión